@using _14_02_2018_Template.Models;

@model Blog

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_area">
    <div class="container">
        <div class="banner_text_inner">
            <h4>@Model.blog_title</h4>
        </div>
    </div>
</section>


<section class="static_area">
    <div class="container">
        <div class="static_inner">
            <div class="row">
                <div class="col-lg-9">
                    <div class="static_main_content"> 
                        <div class="static_img">
                            <img class="img-fluid" src="~/Uploads/@Model.blog_img" alt="">
                        </div>
                        <div class="static_text">
                        <p>@Model.blog_content</p>     
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    @Html.Action("Static_right_side", "Partilas")
                </div>
            </div>
        </div>
    </div>
</section>